{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>ByonicViewer Output Analyzer</title>
</head>
<body>
	<h1>Data Processing Status</h1>
	<div class='progress-wrapper'>
	  <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
	</div>
	<div id="progress-bar-message">Waiting for progress to start...</div>
	<div id="celery-result"></div>
	<script src="{% static 'mysite/celery_progress/celery_progress.js' %}"></script>


{% if task_id %}
	<script type="text/javascript">
		// function processSuccess(progressBarElement, progressBarMessageElement, result) {
		// 	// Build Success URL (replace 'namespace' with your own)
		// 	var success_url = "{% url 'mysite:download' task_id %}";
		// 	// Redirect to URL
		// 	window.location.replace(success_url)
		// }

		// // Progress Bar (JQuery)
		// $(function () {
		// 	var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
		// 	CeleryProgressBar.initProgressBar(progressUrl, {
		// 		onSuccess: processSuccess,
		// 	})
		// });
		// JQuery
		var progressUrl = "{% url 'celery_progress:task_status' task_id %}";

		function customResult(resultElement, result) {
			$( resultElement ).append(
				$('<p>').text('base64 string ' + result)
				);
		}
		$(function () {
			CeleryProgressBar.initProgressBar(progressUrl, {
				onResult: customResult,
			})
		});
	</script>
{% endif %}

</body>
</html>